<a class="nav-link" id="v-pills-home-tab" [routerLink]="['HomePage']" routerLinkActive="active">Home</a>

<div class="row justify-content-md-center">
    <h1><span class="badge bg-secondary">{{selectedCity}}</span></h1>
</div>
<div *ngFor="let FWI of forcastWeatherInfo">
    <app-weather-forcast [FWI]="FWI">
    </app-weather-forcast>
</div>