<div class="container">
    <div class="card" (click)="cityOnSelcted(CWI.name)" style="cursor: pointer;">
        <h5 class="card-header">{{CWI?.name}}</h5>
        <div class="card-body" style="display: flex;">


            <div style="display: flex;">
                <p class="CWI-value">{{CWI.main?.temp}}</p>
                <span class="CWI-unit" style="display:inline" aria-label="°Fahrenheit" aria-disabled="true" role="button">°F</span>
            </div>
            <div class="CWI_otherInfo">
                <div>
                    {{CWI.sys?.sunrise*1000 |date:'mediumDate'}}
                </div>
                <div>Sunrise: <span>{{CWI.sys?.sunrise*1000 |date:'mediumTime'}}</span></div>
                <div>Sunset: <span>{{CWI.sys?.sunset*1000 |date:'mediumTime'}}</span></div>
            </div>
        </div>
    </div>
</div>