.CWI-value {
    float: left;
    margin-top: -3px;
    font-size: 34px;
}

.CWI-unit {
    float: left;
    font-size: 16px;
    margin-top: 6px;
}

.CWI_otherInfo {
    float: right;
    line-height: 22px;
    min-width: 43%;
    padding-left: 85px;
    padding-top: 2px;
}