<div class="container">
    <div class="card">

        <div class="card-body">

            <div class="row">

                <div class="col-4">
                    <span>{{FWI?.dt*1000 |date:'mediumDate' }}</span>
                </div>
                <!-- can use as reusable componnet  -->
                <div class="col-4" style="display: flex;">
                    <p class="CWI-value">{{FWI.main?.temp}}</p>
                    <span class="CWI-unit" style="display:inline" aria-label="°Fahrenheit" aria-disabled="true" role="button">°F</span>
                </div>
                <div class="col-4">
                    Sea level: <span>{{FWI.main?.sea_level}}</span>
                </div>
            </div>
        </div>
    </div>
</div>