<div *ngFor="let CWI of citiesWeatherInfo">
    <div class="row justify-content-md-center">
        <div class="col" style="padding-bottom: 10px;">
            <app-city-weather-Info [CWI]="CWI"></app-city-weather-Info>
        </div>
    </div>
</div>